body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font:12px"宋体","Arial Narrow",HELVETICA;background:#fff;-webkit-text-size-adjust:100%;}
a{color:#2d374b;text-decoration:none}
a:hover{color:#cd0200;text-decoration:underline}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}
.main{
    width:100%;
    border: 1px solid coral;
    margin: 0px;
    padding: 0px;
}
#header{
}
#logo{
/*    background: url("../images/logo.png") no-repeat;
    height: 162px;
   /* width: 636px;
    height: 162px;
    margin-top: 47px;
    margin-bottom: 50px;*/
}
#search{
}
#login{
}
#nav{
    background-color: rgba(149,153,255,0.2);
    height: 48px;
}
#banner{
    background: url("../images/mountian.jpg") no-repeat center;
 /*   height: 740px;*/
    height:740px;
    width: 100%;
}
#box{
    width: 984px;
    height: 281px;
    margin: 459px auto;
}
.box{
    width: 328px;
    height: 281px;
    float: left;
}
#box1{
    background-color: #00AA88;
}
#box2{
    background-color: #00b3ee;
}
#box3{
    background-color: #00CC00;
}
#new{
    position: relative;
    text-align: center;
    height: 884px;
}
.col-xs-12{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.box1{
    box-sizing: border-box;
    width:50%;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}
#product{
    position: relative;
    text-align: center;
    height: 884px;
}
.box2{
    box-sizing: border-box;
    width:33%;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}
#service{
    text-align: center;
}
#application{
    text-align: center;
}
